.project__box {
    background: var(--gradient);
    box-shadow: 0 0 3px var(--contrast3);
    border-radius: var(--small-shape);
    padding: var(--spacing);
}

@media screen and (min-width: 768px) {
    .project__box {
        display: flex;
        align-items: center;
        gap: calc(var(--spacing) * 2);
    }

    .project__box:nth-child(2n) {
        flex-direction: row-reverse;
    }
}