.button {
    border-radius: var(--small-shape);
    width: 100%;
    padding: var(--spacing) 0;
}

.button--1 {
    background-color: var(--contrast2);
}

.button--2 {
    background-color: var(--contrast3);
}

.button--1, .button--2 {
    color: var(--secondary);
}

.button--1:hover, .button--2:hover {
    background-color: var(--accent1);
    transition: 1s;
}

.button--disabled {
    background-color: transparent;
    border: 2px solid var(--contrast2);
    color: var(--contrast3);
    text-decoration: line-through;
    cursor: default;
}

.button--disabled::before, .button--disabled::after {
    content: '\00a0';
}