.container {
    width: 90%;
    margin: 0 auto;
}

.container__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing);
    min-height: calc(100vh - (var(--header-footer-size) * 2) - var(--section-title-size) - (var(--section-title-spacing) * 2));
}

.container__content--home {
    min-height: calc(100vh - var(--header-footer-size));
}