:root {
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Crimson Text', serif;
    --font-logo: 'Playfair Display', serif;
    --font-code: 'Roboto Mono', monospace;

    --header-footer-size: 60px;
    --spacing: 16px;
    --section-title-size: 1.875rem;
    --section-title-spacing: 30px;
    --small-shape: 5px;
    --medium-shape: 10px;
    --large-shape: 20px;
    
    --primary: #0F0F0F;
    --secondary: #FDFDFD;
    --contrast1: #000;
    --contrast2: #333;
    --contrast3: #666;
    --accent1: #AA0000;
    --error: #FF0000;
    --box-shadow: 0 0 5px var(--contrast1), 0 0 5px var(--contrast1), 0 0 10px var(--contrast1);
    --gradient: linear-gradient(var(--contrast2) 0%, var(--contrast1) 70%);

    --code-class: #D7BA7D;
    --code-braces: #FFD700;
    --code-property: #9CDCFE;
    --code-string: #CE9178;
    --code-punctuation: #D4D4D4;
    --code-comment: #6A9948;

    --filter-images: brightness(90%) grayscale(30%);
    --filter-secondary: invert(100%) sepia(0%) saturate(0%) hue-rotate(273deg) brightness(105%) contrast(98%);
    --filter-contrast3: invert(41%) sepia(3%) saturate(26%) hue-rotate(323deg) brightness(93%) contrast(86%);
    --filter-accent1: invert(20%) sepia(65%) saturate(4777%) hue-rotate(356deg) brightness(70%) contrast(121%);
    --filter-error: invert(11%) sepia(85%) saturate(7350%) hue-rotate(10deg) brightness(93%) contrast(118%);
}