@import url(box.css);
@import url(box-icon.css);
@import url(box-logo.css);

.box__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing);
}

@media screen and (min-width: 0) {
    .box__list--courses {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: calc(var(--spacing) * 2);
    }
}

@media screen and (min-width: 768px) {
    .box__list--courses {
        flex-direction: row;
    }
}