.box {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.box:not(.box--courses) {
    background-color: var(--contrast2);
    border-radius: var(--small-shape);
    height: 200px;
    padding: var(--spacing);
}

.box:not(.box--courses):hover {
    background: var(--gradient);
    box-shadow: 0 0 5px;
}


@media screen and (min-width: 0) {
    .box:not(.box--courses) {
        width: calc(50% - (var(--spacing) / 2));
    }
}

@media screen and (min-width: 550px) {
    .box:not(.box--courses) {
        width: calc(33.33% - (var(--spacing) / 1.5));
    }
}

@media screen and (min-width: 750px) {
    .box:not(.box--courses) {
        width: calc(25% - (var(--spacing) / 1.33));
    }
}

@media screen and (min-width: 950px) {
    .box:not(.box--courses) {
        width: calc(20% - (var(--spacing) / 1.25));
    }
}