.box {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.box:not(.box--courses) {
    background-color: var(--contrast2);
    border-radius: var(--small-shape);
    height: 200px;
    padding: var(--spacing);
}

.box:not(.box--courses):hover {
    background: var(--gradient);
    box-shadow: 0 0 5px;
}