.header__menu--toggle {
    width: 35px;
}

@media screen and (min-width: 0) {
    .toggle__icon[alt="Fechar"] {
        display: none;
    }

    .header__menu--toggle.active > .toggle__icon[alt="Fechar"] {
        display: initial;
    }

    .header__menu--toggle.active > .toggle__icon[alt="Menu"] {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header__menu--toggle {
        display: none;
    }
}