.header__link {
    display: block;
    color: inherit;
}

.header__link[href="#contato"] {
    font-weight: 700;
}

@media screen and (min-width: 0) {
    .header__link {
        padding: var(--spacing);
    }

    .header__link:hover {
        background-color: var(--contrast3);
    }

    .header__link:not(:first-child) {
        border-top: 1px solid var(--contrast2);
    }
}

@media screen and (min-width: 768px) {
    .header__link {
        padding: 0;
    }

    .header__link:hover {
        background-color: transparent;
    }

    .header__link:not(:first-child) {
        border-top: none;
    }

    .header__link::after {
        content: '';
        background-color: var(--accent1);
        display: block;
        width: 0;
        height: 2px;
        transition: width .3s;
    }
    
    .header__link:hover::after {
        width: 100%;
    }
}